@import "tailwindcss";
/* Default width for mobile */
.frame {
    width: 130%;
  }
  
  /* For tablet screens (e.g., 768px and above) */
  @media (min-width: 768px) {
    .frame {
      width: 75%; /* Adjust this value for tablet */
    }
  }
  
  /* For laptop screens (e.g., 1024px and above) */
  @media (min-width: 1024px) {
    .frame {
      width: 145%; /* Adjust this value for laptop */
    }
  }
  