.footer {
    text-align: center;
    background-color: transparent;
    border-top: 1px solid gray
}

.footer-link {
    margin: 0 15px;
    text-decoration: none;
}

[data-theme="dark"] .footer-link {
    color: #fff;
}

.footer-link:hover {
    text-decoration: underline;
}